# 示例：忽略所有 .mp4 视频文件
*.mp4

# 示例：忽略特定目录（如模型文件夹）
input/
dataset/
dowload_scripts/
experiments/
flash-attention/
mmcv/
Open-Sora/
outputs/
rocm-apex/
pretrained_weights/

# 示例：忽略所有 .pt 模型文件
*.pt
*.pth
*.h5

# 其他常见忽略项（按需添加）
.DS_Store
__pycache__/
*.log
